/*cascating stylesheet*/
html,
body {
  --black: hsl(240,6%,13%);
  --grey:hsl(240,9%,89%);

  heigth: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background: none;
}
main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 120vw;
  min-height: 850px;
  height: 120vh;
}
.conteiner {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar{
  width: 10rem; 
  margin:11.5rem auto 0;
  position:relative;
}
.avatar span{
  position:absolute;
  top: -15px;
  z-index:1;
}

.avatar > img {
  width:10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(51% 0, 100% 31%, 100% 68%, 52% 100%, 0 69%, 0 31%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-style: italic;
}
a {
  color: var(--grey);
  text-decoration: none;
  
  margin-top:0.25rem;

  display: flex;
  gap: 0.75rem; 
  justify-content: center;
  align-items: center;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
  
  
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 0%;
    
  }

  1% {
    font-size: 2rem;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
ul {
  margin-top: 4rem;

  list-style: none;
  padding:0;

  display: flex;
  gap: 0.5rem;

  justify-content:center;
}
